{% extends "layout.html" %}
{% block body %}

<div style="margin: 20px;">
  <div id="myBoard" style="width: 400px; margin-bottom: 15px;"></div>
  <button id="showPositionBtn">Show FEN</button>
  <button onclick="resetBoard()">Reset</button>
</div>

<script>
  const board = Chessboard('myBoard', {
    position: 'start',
    pieceTheme: '{{ url_for("static", filename="img/chesspieces/wikipedia/") }}{piece}.png',
    draggable: true,
    onDrop: onDrop
  });

  function onDrop(source, target) {
    const move = source + target;

    fetch('/move', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ move: move })
    })
    .then(response => response.json())
    .then(data => {
      if (data.ai_move) {
        board.move(source + '-' + target);
        setTimeout(() => {
          board.move(data.ai_move.slice(0, 2) + '-' + data.ai_move.slice(2));
        }, 300);
      } else {
        alert(data.error || "Invalid move!");
        board.position(board.fen()); // snapback
      }
    });
  }

  function resetBoard() {
    fetch('/reset', { method: 'POST' })
      .then(() => board.start());
  }

  document.getElementById("showPositionBtn").onclick = function () {
    console.log('FEN:', board.fen());
    console.log('Position Object:', board.position());
  };
</script>

{% endblock %}
