{% extends "layout.html" %}
{% block body %}
<script>
  var board = Chessboard('myBoard', {
    position: 'start',
    pieceTheme: '{{ url_for("static", filename="img/chesspieces/wikipedia/") }}{piece}.png',
    draggable: true
    /*dropOffBoard: 'trash'*/

  });

  function clickShowPositionBtn () {
  console.log('Current position as an Object:')
  console.log(board.position())

  console.log('Current position as a FEN string:')
  console.log(board.fen())
}

$('#showPositionBtn').on('click', clickShowPositionBtn)

function resetBoard() {
    $.post('/reset');
}
</script>

{% endblock %}